/* General Styling */
* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 900;
}

p {
  font-size: 14px;
  font-weight: 600;
}

/* bootstrap reset */
.row {
  margin: 0px;
  padding: 0px;
}

/* header */
.header {
  background: rgb(235, 235, 235);
  padding: 100px 200px 20px 200px;
  border-bottom: black solid 1px;
}

/* calendar */
.calendar {
  padding: 30px 200px 20px 200px;
  background: white;
}

.new-row {
  background: white;
  height: 80px;
  border-bottom: 1px solid black;

}

.button-save {
    background: white;
    display: flex;
    align-items: center; /* Vertical */
    justify-content: center; /* Horizontal */
  }

.hour {
  display: flex;
  align-items: center; /* Vertical */
  justify-content: left; /* Horizontal */
  /* text-align: left; */
  margin: 0px;
  padding: 10px 0px;
}



textarea {
  resize: none;
  border: none;
  width: 100%;
  padding-top: 12px;
}

.red-bg {
    background: red;
}

.green-bg {
    background: green;
}

.grey-bg {
    background: lightgray;
}
